
@import url('https://fonts.googleapis.com/css2?family=Tektur&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.navbar{
    background: rgb(222,184,135);
    background: linear-gradient(90deg, rgba(222,184,135,1) 53%, rgba(255,228,187,1) 100%, rgba(153,87,252,1) 100%);
}
.navbar-brand .font{
    font-size: 1.8em;
    color: #9b2e00;
    text-shadow: black 1px 1px 1px ;
}
.font{
    font-family: 'Tektur', cursive;
}
.shop{
    border-bottom:3px solid #840200;

}
/* filter-search */
.searchbar {
    position: relative;
    left: 3vw;
    height: 50px;
    background-color: #780000;
    border-radius: 30px;
    padding: 5px;
}
.search_input {
    color: rgb(0, 0, 0);
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear;
}
.searchbar:hover > .search_input {
    padding: 0 10px;
    width: 220px;
    caret-color: rgb(0, 0, 0);
    transition: width 0.4s linear;
    background: rgba(157, 157, 157, 0.445);
    border-radius: 30px;
}
.searchbar:hover > .search_icon {
    background: #fff;
    color: #780000;
}
.search_icon {
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}
.autocomplete {
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}
.autocomplete-items div:hover {
    background-color: #e9e9e9; 
}
.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}
.nav-link{
    font-weight: 600;
}
.cool-link {
    display: inline-block;
    text-decoration: none;
}

.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #740000;
    transition: all ease-in .3s;
}

.cool-link:hover::after {
    width: 100%;
    margin-bottom: -10;
}
.nav-icon{
    color: #342f23c6;
    font-size: 20px;
}
.nav-icon:hover{
    color: rgb(94, 42, 21);
}

.icon-control {
    margin-top: 5px;
    float: right;
    font-size: 80%;
}

.icon-hover:hover {
    border-color: #3b71ca !important;
    background-color: white !important;
}

.icon-hover:hover i {
    color: #3b71ca !important;
}

/*---------------------------------------------------------- category --------------------------------------------*/

.header{
    height: 170px;
    background: #00000006;
}
.header .font{
    font-size: 1.5em;
    color: #9b2e00;
    text-shadow: black 1px 1px 1px ;
    margin-bottom: 20px;
}
.category{
    position: relative;
    top: 8pc;
}
.form-check-input{
    border-color:#9b2e00 ;
}
.form-range {
    background-color: #ddd;
    height: 5px;
    outline: none;
    width: 100%;
}
.form-range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: #740000;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.bootstrap-checkbox:checked {
    border: 2px solid #d39442 !important;
    background-color :#d39442!important;
} 
.accordion-button {
    background: #d39442;
}
.form-range{
    color: #d39442;
}
.btn-apply{
    background-color: #5e0202;
    color: #ffffff;
    font-size: 17px;
    font-weight: bolder;
    border:2px solid #580202;

}
.btn-apply:hover{
    border:2px solid #5e0202;
    color: #000000;
    font-weight: bolder;
}
.form-control{
    border-color: #5e0202;
}
.font{
    font-size: .7em;
    color: #9b2e00;
    text-shadow: black 1px 1px 1px ;
}
.font:active{
    color: #535353;
    text-shadow: black 1px 1px 1px ;;
}
.font:focus{
    color: #9b2e00;
    text-shadow: black 1px 1px 1px ;;
}
.btn-table{
    background-color: #7c0101;
    color: #ffffff;
}
.btn-buy button{
    background-color: #7c0101;
    color: #ffffff;
    font-weight: bolder;
    border:1px solid #7c0101;
}
.btn-buy button:hover{
    color: #7c0101;
    font-weight: bolder;;
    border:1px solid #7c0101;

}
.bg-1 a{
    background-color: #d39442;
    color: #740000;
}
.icon-bg{
    background-color: #fff;
    color: #494949;
    font-weight: bolder;
    border:1px solid #740000;
}
.icon-bg:hover{
    background-color: #7c0101;
    color: #ffffff;
}
.card-body img{
    height: 200px;
}

/*----------------------------------------------------- footer-sec --------------------------------------------- */

.footer-sec{
    position: relative;
    top: 15pc;
    background: #d39442;
}

footer .head-sec{
    background-color: #791400;
}
footer .font{
    color: #9b2e00;
    text-shadow: black 1px 1px 1px ;
    font-weight: 600;
    letter-spacing: 2px;

}
.title .font{
    color: #ffffff;
    text-shadow: #791400 2px 2px 5px ;
    letter-spacing: 2px;
    font-weight: 600;
}
.contact-icon i{
    color: #ffffff;
    font-size: 20px;
}

.contact-icon i:hover{
    color: #dea55b;
}
.com-name img{
    margin-left: -15px;
}
.links{
    color: #000;
    font-weight: 600;
}
.links:hover{
    color:#e8dab3 ;
}

.contact i{
    color: #000;
}
.contact p{
    font-size: 17px;
    color: #ffffff;
}

.copy-div{
    background-color:#791400 ;
}
.copy-div a{
    color: #fff;
}

.copy-div a:hover{
    text-decoration: underline;
    color: #000000;
}

